.container {
  min-width: 292px;
  height: 112px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover {
  transform: scale(1.02);
}
.phoneLink {
  display: block;
  width: 32px;
  height: 32px;
  color: white;
  background-color: rgb(122, 242, 122);
  border-radius: 50%;
  position: relative;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phoneLink:hover {
  background-color: rgb(53, 231, 53);
}
.phoneIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  color: grey;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  color: red;
}
.icon {
  margin-right: 8px;
  color: #808080;
}
.phoneContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.line {
  border: 0.1px rgb(217, 216, 218) solid;
}
