.container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.text {
  color: rgb(44, 44, 44);
}
.btn {
  cursor: pointer;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 4px;
  line-height: 12px;
  color: #322fd4;
  background-color: transparent;
  border: none;
}
.btn:hover {
  color: #8280ee;
}
.btnDisable {
  cursor: not-allowed;
  color: #c8c8da;
}
.btnDisable:hover {
  color: #c8c8da;
}
